<aside class="sidebar">
  <div class="abilities flexcol">
    <div class="flexrow flex-group-center header">
      <div class="">Name</div>
      <div class="">Base</div>
      <div class="">Kin</div>
      <div class="">Voc</div>
      <div class="">Cul</div>
      <div class="">BG</div>
      <div class="">Item</div>
      <div class="">Special</div>
      <div class="">Total</div>
      <div class="">Actions</div>
    </div>
    {{#each data.stats}}
    <li class="item flexrow" data-item-id="{{this.data._id}}">
    <div class="primary flexrow flex-group-center">
      <div class="">
        <label for="this.data.name" class="resource-label rollable flexlarge align-left" data-roll="d100x+{{this.data.data.total_bonus}}" data-label="{{this.data.name}}">
          {{this.data.name}}
        </label>
      </div>
      <div class="">
        <input type="text" class="base_bonus" name="this.data.data.base_bonus" id="{{this.id}}" value="{{this.data.data.base_bonus}}" data-dtype="Number"/>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.kin_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.vocation_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.culture_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.background_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.item_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label">
          {{this.data.data.special_bonus}} 
        </label>
      </div>
      <div class="">
        <label class="align-center resource-label rollable" data-roll="d100!+@this.data.data.total_bonus" data-label="{{this.data.name}}">
          {{this.data.data.total_bonus}} 
        </label>
      </div>
      <div class=" item-controls align-right">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
      <!-- <span class="ability-mod rollable" data-roll="d100!+@abilities.{{key}}.total_bonus" data-label="{{ability.name}}">{{numberFormat ability.total_bonus decimals=0 sign=true}}</span> -->
    </div>
    </li>
    {{/each}}
  </div>
</aside>
