<aside class="sidebar">
  <div class="stats flexcol">
    <div class="flexrow flex-group-center sheet-header">
      <div class="align-left flexlarge">Name</div>
      <div class="align-right ">#Ranks</div>
      <div class="align-right ">Earned Ranks</div>
      <div class="align-right ">Rank</div>
      <div class="align-right ">Stat</div>
      <div class="align-right ">Kin</div>
      <div class="align-right ">Voc</div>
      <div class="align-right ">Cul</div>
      <div class="align-right ">BG</div>
      <div class="align-right ">Item</div>
      <div class="align-right ">Special</div>
      <div class="align-right ">Total</div>
      <div class="align-right ">Actions</div>
    </div>
    {{#each data.skillGroups}}
      <div class="flexrow header resource-label" style="border-bottom: 1px solid black; margin-bottom: 2px;text-transform: uppercase;">
        {{this.name}} ({{this.development_points}})
      </div>  
      {{#each skills }}
      <li class="item flexrow" data-item-id="{{this.data._id}}">
      <div class="flexrow flex-group-center">
        <div class="flexlarge align-left">
          <label for="this.name" class="resource-content rollable flexlarge " data-roll="d100x+{{this.data.data.total_bonus}}" data-label="{{this.name}}">
            {{this.name}} ({{this.data.data.stat}})
          </label>
        </div>
        <div class="align-right">
          <input type="number" class="number_ranks" name="this.data.data.number_ranks" id="{{this.id}}" value="{{this.data.data.number_ranks}}" data-dtype="Number"/>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.earned_ranks}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.rank_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.stat_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.kin_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.vocation_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.culture_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.background_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.item_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-content">
            {{this.data.data.special_bonus}} 
          </label>
        </div>
        <div class="align-right">
          <label class="resource-label rollable" data-roll="d100x+{{this.data.data.total_bonus}}" data-label="{{this.name}}">
            {{this.data.data.total_bonus}} 
          </label>
        </div>
        <div class=" item-controls align-right">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </li>
      {{/each}}
    {{/each}}
  </div>
</aside>
