<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Kin</label>
          <div class="resource-content flexrow flex-center flex-between">
            <div>{{data.kin.data.name}}</div>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Vocation</label>
          <div class="resource-content flexrow flex-center flex-between">
            <div>{{data.vocation.data.name}}</div>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Culture</label>
          <div class="resource-content flexrow flex-center flex-between">
            <div>{{data.culture.data.name}}</div>
          </div>
        </div>
      </div>
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Hit Points</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.melee-db.value" class="resource-label">MeDB</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.melee-db.value" value="{{data.melee-db.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.missile-db.value" class="resource-label">MiDB</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.missile-db.value" value="{{data.missile-db.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.wsr.value" class="resource-label">WSR</label>
          <div class="resource-content flexrow flex-center flex-between">
          <label class="resource-content rollable" data-roll="d100x+{{data.resistances.wsr.data.data.total_bonus}}" data-label="{{data.resistances.wsr.data.name}}">
            {{data.resistances.wsr.data.data.total_bonus}}
          </label>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.tsr.value" class="resource-label">TSR</label>
          <div class="resource-content flexrow flex-center flex-between">
            <label class="resource-content rollable" data-roll="d100x+{{data.resistances.tsr.data.data.total_bonus}}" data-label="{{data.resistances.tsr.data.name}}">
              {{data.resistances.tsr.data.data.total_bonus}}
            </label>
            </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="armor">Armor</a>
    <a class="item" data-tab="weapons">Weapons</a>
    <a class="item" data-tab="resistances">Resistances</a>
    <a class="item" data-tab="background-options">Background Options</a>
    <a class="item" data-tab="special-abilities">Special Abilities</a>
    <a class="item" data-tab="languages">Languages</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab stats" data-group="primary" data-tab="stats">
      {{> "systems/openended/templates/actor/parts/actor-stats.html"}}
    </div>
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/openended/templates/actor/parts/actor-skills.html"}}
    </div>
    <div class="tab equipment" data-group="primary" data-tab="equipment">
       {{> "systems/openended/templates/actor/parts/actor-equipment.html"}}
    </div>
    <div class="tab armor" data-group="primary" data-tab="armor">
      {{> "systems/openended/templates/actor/parts/actor-armor.html"}}
    </div>
    <div class="tab weapons" data-group="primary" data-tab="weapons">
      {{> "systems/openended/templates/actor/parts/actor-weapons.html"}}
    </div>
    <div class="tab resistances" data-group="primary" data-tab="resistances">
      {{> "systems/openended/templates/actor/parts/actor-resistance.html"}}
    </div>
    <div class="tab background-options" data-group="primary" data-tab="background-options">
      {{> "systems/openended/templates/actor/parts/actor-background-options.html"}}
    </div>
    <div class="tab background-options" data-group="primary" data-tab="special-abilities">
      {{> "systems/openended/templates/actor/parts/actor-special-abilities.html"}}
    </div>
    <div class="tab languages" data-group="primary" data-tab="languages">
      {{> "systems/openended/templates/actor/parts/actor-languages.html"}}
    </div>
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/openended/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
</form>

