<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">Hit Points</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.level.value" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.melee-db.value" class="resource-label">MeDB</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.melee-db.value" value="{{data.melee-db.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.missile-db.value" class="resource-label">MiDB</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.missile-db.value" value="{{data.missile-db.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.wsr.value" class="resource-label">WSR</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.wsr.value" value="{{data.wsr.value}}" data-dtype="Number"/>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.tsr.value" class="resource-label">TSR</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="data.tsr.value" value="{{data.tsr.value}}" data-dtype="Number"/>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="equipment">Equipment</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Stats Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="stats">
      {{> "systems/openended/templates/actor/parts/actor-stats.html"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
       {{> "systems/openended/templates/actor/parts/actor-equipment.html"}}
    </div>

  </section>
</form>

