<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div class="grid grid-2col">
    <div class="resource">
      <label class="resource-label">Stat</label>
      <div>
        <select class="value select iteminput ability-selector" id="{{item.id}}" data-name="data.stat">
          {{#select data.stat}}
          {{#each data.tempStats as |key value|}}
            <option class="option" value="{{key}}">{{value}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div> 
    </div>
    <div class="resource">
      <label class="resource-label">Skill Group</label>
      <div>
        <select class="value select iteminput skill-group-selector" id="{{item.id}}" data-name="data.skill_group">
          {{#select data.skill_group}}
          {{#each data.tempSkillGroups as |key value|}}
            <option class="option" value="{{key}}">{{value}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div> 
    </div>
  </div>
  <div class="grid grid-2col">
    <div class="resource">
      <label class="resource-label">Number of Ranks</label>
      <input type="text" name="data.number_ranks" value="{{data.number_ranks}}" data-dtype="Number"/>
    </div>
    <div class="resource">
    </div>
  </div>
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. --}}
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/openended/templates/item/parts/item-effects.html"}}
    </div>
  </section>
</form>
